.env
.env.backup
.env.production
auth.json

/vendor/

/node_modules/

/public/uploads/*

!/public/uploads/.gitkeep

.DS_Store
Thumbs.db
.idea/
.vscode/
*.log
npm-debug.log
yarn-error.log
*.tmp

/public/build